 @import url('https://fonts.googleapis.com/css?family=Roboto');
 body{
     font-family: 'Roboto', sans-serif;
}
.wrapper{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     max-width: 1150px;
     margin: auto;
}
 .card{
   max-width: 350px;
   min-width: 300px;
   min-height: 300px;
   background: #575c6f;
   padding: 30px;
   padding-bottom: 80px;
   box-sizing: border-box;
   color: #FFF;
   margin:20px;
   box-shadow: 0px 2px 18px -4px rgba(0,0,0,0.75);
   position: relative;
}
 .card:nth-child(2){
    background: #a68985;
}
 .card:last-child{
    background: #163551;
}
 .card-title{
     margin-top: 0;
     font-size: 18px;
     font-weight: 600;
     letter-spacing: 1.2px;
}
 .card-content{
   padding: 0px 15px;
   font-size: 14px;
   letter-spacing: 0.5px;
   line-height: 1.5;
}
 .card-btn{
   all: unset;
   display: block;
   position: absolute;
   border: 2px solid #FFF;
   padding: 10px;
   width: 120px;
   border-radius: 25px;
   font-size: 10px;
   font-weight: 600;
   transition: all 0.5s;
   cursor: pointer;
   letter-spacing: 1.2px;
   text-align: center;
   display: block;
   bottom: 20px;
   text-align: center;
   left: 50%;
   transform: translateX(-50%);
}
 .card-btn:hover{
    color:#02b875;
    background: #FFF;
}
 .card:nth-child(2) .card-btn:hover{
    color:#4181ee;
    background: #FFF;
}
 .card:last-child .card-btn:hover{
   color:#673ab7;
   background: #FFF;
}

.card-places{
   margin-top: -10px;
   font-size: 12px;
   font-weight: 300;
   letter-spacing: 1.2px;
   text-align: right;
   float: right;
   background: #222;
   padding: 5px;
}

.photo{
   max-width: 280px;
   min-width: 150px;
   margin: 5px;
   position: relative;
}

.teachers_wrapper{
   display: flex;
   flex-wrap: wrap;
   margin: auto;
}
.teacher{
   max-width: 710px;
   min-width: 300px;
   min-height: 300px;
   padding: 15px;
   margin: 10px;
   position: relative;
   border-radius: 20px;
   box-shadow: 0px 2px 18px -4px rgba(0,0,0,0.20);
}

@media(max-width: 1500px){
   .teacher{
   max-width: 600px;
   min-width: 300px;
   min-height: 300px;
   padding: 15px;
   margin: 10px;
   position: relative;
   border-radius: 20px;
   box-shadow: 0px 2px 18px -4px rgba(0,0,0,0.20);
}
}

@media(max-width: 1280px){
   .teacher{
   max-width: 100%;
   min-width: 300px;
   min-height: 300px;
   padding: 15px;
   margin: 10px;
   position: relative;
   border-radius: 20px;
   box-shadow: 0px 2px 18px -4px rgba(0,0,0,0.20);
}
}


.projects{
   width: 100%;
    max-width: 1500px;
    margin: 0 auto;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}


.projects_item{
   max-width: 300px;
   min-width: 300px;
   min-height: 300px;
   margin:20px;
   box-shadow: 0px 2px 18px rgba(0,0,0,0.15);
   position: relative;
}