.container {
    width: 100%; /* ширина блока-контейнера */
    max-width: 960px; /* максимальная ширина контейнера */
    margin: 0 auto; /* этот стиль центрирует контейнер */
}
.photo {
    float: left; /* говорим элементам выстраиваться один за другим */
    width: 25%; /* устанавливаем ширину элемента */
    padding: 5px; /* добавляем отступы с каждой стороны */
    box-sizing: border-box; /* меняем способ вычисления ширины */
}
.photo img {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 10px;
	background-color: #eee;
	box-sizing: border-box;
}
.photo a:hover {
	opacity: 0.5;
	display: block;
}
.photo a:after {
    content: '';
    background: transparent url(../img/icons/eye-icon.png) no-repeat center;
    width: 52px;
    height: 35px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
}
.photo a{
	position: relative;
}