@font-face {
    font-family: 'Century Gothic Regular';
    src: url('fonts/CenturyGothic.eot');
    src: url('fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'), url('fonts/CenturyGothic.woff') format('woff'), url('fonts/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic Italic';
    src: url('fonts/CenturyGothic-Italic.eot');
    src: url('fonts/CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/CenturyGothic-Italic.woff') format('woff'), url('fonts/CenturyGothic-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic Bold';
    src: url('fonts/CenturyGothic-Bold.eot');
    src: url('fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/CenturyGothic-Bold.woff') format('woff'), url('fonts/CenturyGothic-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Coworking';
    src: url('fonts/Coworking.ttf');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    margin: 0;
    font-family: 'Century Gothic Regular', sans-serif;
    font-size: 14pt;
    color: black;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

img{
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}


/* HEADER */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
}

.header__inner {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: ;
}

.nav {
    display: flex;
    padding: 80px;
    padding-right: 0;
    
}

.nav__link {
    font-size: 16pt;
    color: black;
    text-decoration: none;
    opacity: 0.75;
    margin-left: 40px;
    background: white;
    padding: 5px;
}

.nav__link:first-child {
    margin-left: 0;
}


/*ДЛЯ ПОСЛЕДНЕЙ ССЫЛКИ*/

.nav__link:last-child {
    margin-right: 20px;
}


/*ДЛЯ ПОСЛЕДНЕЙ ССЫЛКИ*/

.nav__link:hover {
    transition: 0.2s linear;
    opacity: 1;
}

.header__logo {
    padding: 45px;
    
}

.header__logo img {
    width: 100%;
    max-width: 140px;
}

html {
    background: #111 url("../gallery/witnesing/innsbruk.jpg") no-repeat center center fixed;
    background-size: cover;
}

.what_is_mmdt{
    background: black;
    height: 600px;
    overflow: hidden;

}

.what_is_mmdt__item {
     display: flex;
    flex-wrap: wrap;
    height: 600px;

}


.what_is_mmdt_photo{
    width: 50%;
    position: relative;
}

.what_is_mmdt_content{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 15px;
}

.what_is_mmdt_text{
    font-size: 22px;
    line-height: 1.5;
    color: white;
}

.what_is_mmdt__img {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 600px;
}




.bio{
    background: black;
    display: flex;
    position: relative;
}
.bio__title{
    text-align: left;
    font-size: 30px;
    font-weight: 100;
    margin: 15px;
    color: #fff;

}

.bio__img {
    width: 30%;
    float: left;
    margin: 30px;
    margin-left: 0;
}

.bio__text{
    color: #fff;
    text-align: justify;
    font-size: 25px;
    line-height: 1.5;

}

.bio__text a{
    color: #fff;
    font-weight: bold;

}

.footer{
    background: #000;
    text-align: center;
    font-size: 20px;
    color: #fff;
}


/*=============

    PROJECTS

================*/


.projects{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: white;
}

.projects_item{
    padding: 30px;
}

.projects_item img{
    width: 100%;
}
.projects_item a{
    opacity: 0.8;
}
.projects_item a:hover{
    opacity: 1;
}

.intro__witnesing{
    text-align: center;
    color: white;
    font-size: 7vw;
    margin-top: 20vh;
    margin-bottom: 120px;
    font-family: 'Coworking';
    display: grid;
    grid-template-rows: 1fr 1fr;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 25px;
}

#Btn{
    box-shadow: black;
    width: 200px;
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 7px;
    background: #B3AD9B;
    color: #fff;
    cursor: pointer;
}

#Btn:hover {
    opacity: 0.7;
    color: black;
}


.content {
   margin-top: 100vh;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
}

.w_inner{
    width: 50%;
    line-height: 1.5;
}

#myBtn {
    box-shadow: black;
    width: 300px;
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 7px;
    background: #fff;
    color: #000;
    cursor: pointer;
}

#myBtn:hover {
    opacity: 0.7;
    color: black;
}

.witnesing_panorama {
    width: 100%;
    height: 100vh;
}

#container{
    padding: 20PX;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    background: white;
}

.witnesing_content p, h1{
    font-family: 'Montserrat', sans-serif;
    padding: 0 100px;
    line-height: 1.4;
}


#back{
    background: white;
    width: 100%;
    height: 8vh;
    text-align: center;
    position: relative;
    color: red;
}

#back a {
    text-decoration: none;
     margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.partners{
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 100px;
    align-items: center;
    text-align: center;
}

.partners img{
    width: 70%;
}

#background{
    position: fixed  ;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
}

#donation{
    color: white;
    background-color: #555;
    width: 400px;
    height: 100px;
    font-size: 50px;
    border-radius: 25px;
    padding: 20px;

    border: 0;
    /*box-shadow: 7px 7px 2px 1px rgba(0, 0, 255, .2);*/
}
#donation_text{
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

#a{
    float: right;
    text-align: right;
    margin-right: 50px;
}

#music{
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
}

#myBtn1 {
    box-shadow: black;
    width: 500px;
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background: #000;
    color: #fff;
    cursor: pointer;
    height: 80px;
    text-align: center;
}

#myBtn1:hover {
    opacity: 0.7;
    color: #fff;
}
